html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}
/* FOOTER */
footer {
  height: 40px;
  background-color: grey;
  color: white;
  font-size: 20px;

}

.git-button {
  color: white;
}

/* unvisited link */
a:link {
    color: ;
}

/* visited link */
a:visited {
    color: ;
}

/* mouse over link */
a:hover {
    color: #292b2c;
}

/* selected link */
a:active {
    color: ;
}

/* HEADER */
.navbar {
  background-color: grey;
}
.btn {
  color: white;
}
.form-inline {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.my-contacts {
  padding-right: 15px;
  font-size: 30px;
}
/* CONTACT LIST */
.new-contact {
  font-size: 30px;
}
.panel-title {
  padding-left: 70px;
  font-family: 'Poppins', sans-serif, 600;
  font-size: 50px;
}

#contact-list {
  padding-left: 60px;
}
/* CONTACT PANELS */
.name {
 font-size: 25px;
 font-family: 'Poppins', sans-serif, 600;

}
.detail {
  font-size: 18px;
  font-family: 'Raleway', sans-serif, 200;
}

/* MEDIA QUERIES
.panel-title {
  font-size: 30px;
}*/
