html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}

footer {
  height: 30px;
  background-color: #292b2c;
  color: #5cb85c;
}

//
.spacer5 {
  padding:5px;
}
.pad-15 {
  padding:15px;
}
.pad-left-5 {
  padding-left:5px;
}
.pad-right-5 {
  padding-right:5px;
}
.pad-left-15 {
  padding-left:15px;
}
.pad-right-15 {
  padding-left:15px;
}
.margin-bottom-5 {
  margin-bottom:5px;
}
.margin-bottom-15 {
  margin-bottom:15px;
}
